<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <!-- NFC used but not strictly required; set required=false so app can be installed on devices without NFC -->
    <uses-feature android:name="android.hardware.nfc" android:required="false" />


    <application
         android:allowBackup="true"
         android:dataExtractionRules="@xml/data_extraction_rules"
         android:fullBackupContent="@xml/backup_rules"
         android:icon="@mipmap/ic_launcher"
         android:roundIcon="@mipmap/ic_launcher_round"
         android:supportsRtl="true"
         android:theme="@style/Theme.GreetingCard">
         <activity
             android:name=".MainActivity"
             android:exported="true"
             android:launchMode="singleTop"
             android:theme="@style/Theme.GreetingCard">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

             <!-- Allow the system to deliver NFC intents directly to MainActivity as well -->
             <intent-filter>
                 <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <!-- Accept any MIME type to be permissive like the runtime code's addDataType("*/*") -->
                 <data android:mimeType="*/*" />
             </intent-filter>
             <intent-filter>
                 <action android:name="android.nfc.action.TAG_DISCOVERED" />
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
         </activity>

         <!-- Admin activity for management UI (launched after biometric auth) -->
         <activity
             android:name=".AdminActivity"
             android:exported="false"
             android:label="管理后台"
             android:theme="@style/Theme.GreetingCard" />

         <!-- CardScanActivity: launched after face match to perform NFC-only scanning -->
         <activity
             android:name=".CardScanActivity"
             android:exported="false"
             android:label="刷卡确认"
             android:theme="@style/Theme.GreetingCard" />

         <!-- FileProvider for sharing exported CSV files -->
         <provider
             android:name="androidx.core.content.FileProvider"
             android:authorities="${applicationId}.provider"
             android:exported="false"
             android:grantUriPermissions="true">
             <meta-data
                 android:name="android.support.FILE_PROVIDER_PATHS"
                 android:resource="@xml/file_paths" />
         </provider>

     </application>

 </manifest>
